@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9cae;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}

.column {
  max-width: 600px;
  padding: 10px;
}
#featured {
  max-width: 350px;
  max-height: 450px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  box-shadow: 0px 0.1px 10px #ebebeb;
}

.thumbnail {
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  box-shadow: 0px 0.1px 10px #ebebeb;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#slider::-webkit-scrollbar {
  /* display: none; */
}

/* .arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.arrow:hover {
  opacity: 0.5;
  width: 35px;
  height: 35px;
} */
