@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9CAE;
}
.login-body {
  padding:20px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  margin-top: 50px;
}
/* #back-btn {
display: block;
background-color: white;
border-radius: 50%;
width: 40px;
height: 40px;
position: absolute;
top:20px;
left:20px;
}
.back-btn span {
font-size: 38px;
font-weight: 600;
color: #ff5777;
} */
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:360px;
}
.login-body .form .Heading {
  font-size: 28px;
}
.login-body .form p{
    margin: 5px;
    font-size: 18px;
}
.login-body .form .input-field{
  border-radius: 5px;
  border: 1px solid #ebebeb;
  width: 90%;
  height: 3vh;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}
button {
  width: 100%;
  height: 40px;
  background-color: #ff5777;
  font-size: 18px;
  color: #fff;
  border: 0px;
  padding: auto;
  border-radius: 20px;
  font-weight: 600;
  margin-top:20px;
  margin-bottom:5px;
  cursor: pointer;
}
button:hover{
    color:#ff5777;
    border:2px solid #ff5777;
    background-color: #fff;
}
.login-body .form .upper-hr{
    width:100%;
    height: 2px;
    background-color:black;
    border: none;
    margin-bottom: 20px;
}
.checkbox{
    margin-left: 10px;
    margin-top: 10px;
}
.or p{
   color:grey; 
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 750px) {
    img{
        display: none;
    }
}
@media (max-width: 550px) {
  .login-body{
    position: relative;
    top:40px;
    width: 80%;
    margin-top: 0px;
}
}